/* .product__details */
.product__details::-webkit-scrollbar {
  display: none;
}
.product__image {
  width: 100%;
}

.product__section {
  display: flex;
  margin-top: 3%;
}

.product__image-wrapper {
  flex: 46%;
  margin: 0% 0% 0% 1.5%;
}

.product__details {
  flex: 32%;
  padding: 0% 1.5%;
}
.product__details h2 {
  font-weight: normal;
}

/* .product__action */
.product__action {
  flex: 17%;
  margin: 19px 1.5% 0% 0%;
  border: 1px solid lightgrey;
  padding: 0px 10px;
}
.product__action select {
  cursor: pointer;
  padding: 4px;
  margin-left: 5px;
  border: 1px solid lightgray;
  border-radius: 3px;
}
.product__action button {
  cursor: pointer;
  width: 100%;
  padding: 9px;
  border: none;
  border-radius: 15px;
  background: rgb(255, 216, 20);
}
.product__action span {
  font-size: 15px;
}
.product__action:first-child {
  font-size: 26px;
  margin-top: 10px;
}
.product__name-placeholder {
  background-color: lightgray;
  width: 100%;
  height: 5%;
}
.product__about-placeholder {
  background-color: lightgray;
  width: 100%;
  height: 70%;
  margin-top: 15%;
}

.product__star {
  color: orange;
  font-size: 16px;
}

.product__discount {
  color: rgb(204, 12, 57);
  font-size: 24px;
}

.product__price {
  font-size: 26px;
}

.product__mrp {
  font-size: 11px;
  color: gray;
}

.product__mrp-strikethrough {
  text-decoration-line: line-through;
}

.product__about-list {
  font-size: 15px;
}

.product__about-item {
  margin-left: -17px;
}

.product__action-price {
  font-size: 26px;
  margin-top: 10px;
}

.product__reviews {
  margin: 2% 2% 2% 32%;
}

.product__reviews-title {
  font-size: 18px;
  font-weight: bold;
}

.product__review-item {
  margin-top: 25px;
}

.product__review-user {
  font-size: small;
}

.product__review-user-image {
  margin: 0 10px -10px 0px;
  width: 30px;
}

.product__review-title {
  font-size: 15px;
  font-weight: bold;
}

.product__review-content {
  font-size: 15px;
  margin-top: -17px;
}

.product__rating-count {
  color: #004e93;
  font-size: 15px;
  margin-left: 5px;
}

.product__error {
  font-size: xx-large;
  font-weight: bold;
  margin: 5%;
  text-align: center;
}
