/* Common */

.options{
  font-size: 14px; margin-top: -11px; cursor: pointer;
}
.options:hover, .search__productname:hover, .search__rating-count:hover{
  color: rgb(218, 90, 5) !important; 
}
.title{
  font-size: 14px; font-weight: bold;
}

/* SearchCard */


.search__rating-count{
  color:#004e93;
  font-size:15px; margin-left:5px;
}


/* Price Component */

.price__input{
  width: 20%; height: 27px; border-radius: 3px; 
  border: 1px solid gray;
}

.price__button{
  border-radius: 7px; height: 32px; margin-left: 3px; padding: 7px 10px;
  background: transparent; border: 1px solid lightgray; cursor: pointer;
}
.price__button:hover{
  background-color: rgba(211, 211, 211, 0.171);
}



/* Categories */