/* Common */

.button-options {
  all: unset;
  cursor: pointer;
  font-size: 14px;
  margin: -11px 0 14px;
  display: block;
}

.search__productname:hover,
.search__review-icon:hover,
.search__rating-count:hover,
.button-options:hover {
  color: rgb(218, 90, 5) !important;
}
.title {
  font-size: 14px;
  font-weight: bold;
}

.search__review-icon {
  all: unset;
  display: block;
  font-size: 14px;
  cursor: pointer;
}

.search__review-icon--selected,
.search__price-option--selected,
.search__category-option--selected {
  font-weight: bold;
}

.search__clear-rating {
  margin: -7px 0px 0px;
}

.search__left-icon {
  transform: rotate(180deg);
  pointer-events: none;
}

.search__star {
  color: orange;
  font-size: 16px;
}

.search__star--large {
  font-size: 18px;
}

.search__card-image-wrapper {
  flex: 25%;
}

.search__card-details {
  padding-left: 10px;
  flex: 75%;
}

.search__price-row {
  margin-top: -15px;
}

.search__discounted-price {
  font-size: 28px;
}

.search__mrp {
  font-size: 14px;
  padding-left: 8px;
}

.search__mrp-strikethrough {
  text-decoration-line: line-through;
}

.search__discount-off {
  margin-left: 8px;
}

.search__layout {
  display: flex;
}

.search__filters {
  flex: 20%;
  padding-left: 10px;
}

.search__results-panel {
  flex: 80%;
}

.search__no-results {
  padding: 30px 20% 0px;
}

.search__no-results-hint {
  font-size: small;
}

.price__input--max {
  margin-left: 3px;
}

/* SearchCard */

.search__rating-count {
  color: #004e93;
  font-size: 15px;
  margin-left: 5px;
}
.search__productname {
  text-decoration-line: none;
  color: inherit;
  cursor: pointer;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mt-15 {
  margin-top: 15px;
}
.search__card-container {
  display: flex;
  border: 0.01px solid lightgrey;
  margin: 5px 5px 0 0;
  border-radius: 5px;
  overflow: hidden;
}
.search__card-container img {
  width: 100%;
}
/* Price Component */

.price__input {
  width: 20%;
  height: 27px;
  border-radius: 3px;
  border: 1px solid gray;
}

.price__button {
  border-radius: 7px;
  height: 32px;
  margin-left: 3px;
  padding: 7px 10px;
  background: transparent;
  border: 1px solid lightgray;
  cursor: pointer;
}
.price__button:hover {
  background-color: rgba(211, 211, 211, 0.171);
}

.search__price-controls {
  display: flex;
}
